body {
  margin: 0;
}
.start-screen {
  background: url(assets/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding-left: 40px;
  padding-right: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 31px;
}
.left-section-header {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
.name-site {
  color: #f1cdb3;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  padding-bottom: 10px;
  letter-spacing: 0.06em;
}
.name-site-under-str {
  display: flex;
  justify-content: center;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #fafafa;
}
.right-section-header {
  display: flex;
  justify-content: space-between;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  list-style-type: none;
}
.nav-header {
  margin-left: 2.8vw;
  text-decoration: none;
  list-style-type: none;
  color: #cdcdcd;
}
li:first-child {
  margin: 0;
  border-bottom: solid #f1cdb3;
}

.nav-header:visited {
  color: #fafafa;
}
.under-header-section {
  display: flex;
  justify-content: space-between;
}
.under-header-section {
  padding-top: 90px;
}
.title-left-section-uhs {
  margin: 0;
  padding-top: 163px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
  width: 320px;
}
.discription-left-section-uhs {
  padding-top: 40px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  width: 465px;
}
.button-left-section-uhs {
  background: #f1cdb3;
  border-radius: 100px;
  border: 0;
  margin-top: 5.1vh;
  padding: 15px 45px 15px 45px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
}
.picture-dog {
  justify-content: center;
}
.about {
  display: flex;
  justify-content: space-between;
  padding: 80px 215px 99px 215px;
}
.right-section-about {
  padding-left: 120px;
  padding-top: 13px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
.title-about {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  padding-right: 10vw;
}
.first-text-about {
  padding-top: 2.8vh;
  padding-bottom: 3vh;
}
.pets {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-top: 81px;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
}
.title-pets {
  margin: 0;
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 58px;
}
.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prev-button-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  width: 52px;
  height: 52px;
}
.next-button-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  width: 52px;
  height: 52px;
}
.all-card-pets {
  display: flex;
  justify-content: space-between;
  width: 990px;
}
.card-pets {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  border-radius: 9px;
}

.pet-name-card {
  text-align: center;
  color: #545454;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  padding-top: 29px;
  padding-bottom: 31px;
}
.learn-more-underpet {
  margin: 0 auto;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
  padding: 13px 43px 13px 43px;
  background: #fafafa;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  margin-bottom: 30px;
}
.get-to-know-the-rest {
  margin: 0 auto;
  margin-top: 60px;
  padding: 15px 45px 15px 45px;
  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  color: #292929;
  letter-spacing: 0.06em;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
}
.help {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 100px;
}
.title-help {
  margin: 0;
  padding-top: 80px;
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.icon-under-title-help-firststr {
  display: flex;
  justify-content: space-between;
  padding-top: 59px;
  padding-left: 87px;
  padding-right: 87px;
}
.card-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-card-help {
  margin: 0 auto;
}
.text-under-card-help {
  padding-top: 30px;
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.icon-under-title-help-secondstr {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  padding-left: 170px;
  padding-right: 170px;
}
.donation {
  display: flex;
  justify-content: space-between;
  padding: 80px 182px 99px 183px;
}
.img-donation {
  padding-top: 11px;
  height: 261px;
}
.right-section-donation {
  padding-left: 30px;
}
.tittle-donation {
  margin: 0;
  padding-right: 60px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.name-type-bank {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-number {
  padding: 10px 15px 10px 15px;
  background-color: #f1cdb3;
  display: flex;
  justify-content: space-around;
  border-radius: 9px;
  border: none;
  margin-bottom: 20px;
}

.number {
  padding-left: 15px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.legal-inform {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}
.footer {
  background: url(assets/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.left-section-footer {
  padding-top: 17px;
}
.tittle-left-footer {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0;
  width: 280px;
}
.email-phone {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  display: flex;
  padding-top: 38px;
}
.email-phone:last-child {
  margin-top: 2px;
}
.email {
  text-decoration: none;
  color: #f1cdb3;
  padding-top: 5px;
  padding-left: 20px;
}
.phone {
  text-decoration: none;
  color: #f1cdb3;
  padding-top: 5px;
  padding-left: 20px;
}
.centr-section-footer {
  padding-top: 17px;
  padding-left: 158px;
  padding-right: 160px;
}

.tittle-center-footer {
  margin: 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-left: 1px;
}
.location {
  display: flex;
  justify-content: left;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  padding-top: 31px;
}
.location-link-boston {
  text-decoration: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #f1cdb3;
  letter-spacing: 0.06em;
  padding-left: 20px;
  padding-top: 1px;
}
.location-link-london {
  text-decoration: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #f1cdb3;
  letter-spacing: 0.06em;
  padding-left: 20px;
  padding-top: 6px;
}

/* .footer-dog {
  width: 300px;
  height: 310px;
} */
