.body {
  display: flex;
  flex-direction: column;
}

.complexity-wrapper {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 30px;
}
.wrapper-of-wrapper {
  display: flex;
  justify-content: center;
}
.all-cells {
  /* display: flex;
  justify-content: center; */
  /* margin-top: 20px;
  width: 250px; */
  display: grid;
  gap: 0px;
  /* grid-template-columns: repeat(10, 25px); */
}
.cell {
  width: 25px;
  height: 25px;
}
.cell.active {
  color: red;
}
.message-gameover {
  position: absolute;
  display: flex;
  justify-content: center;
}
.inscription-count-flag {
  display: flex;
  justify-content: center;
  padding-top: 15%;
  padding-bottom: 10px;
}
.count-flag {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(15, 19, 19);
  padding-left: 10px;
  padding-top: 3px;
}
.message-no-flag {
  padding-left: 20px;
  padding-top: 4px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(15, 19, 19);
}
.complexity-wrapper {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgb(15, 19, 19);
}
.sound-on-off {
  width: 25px;
}
