
.task4 .mushroom {
  padding-top: 10px;
  height: 100px;
  margin-left: 15px;
  margin-top: 15px;
}
.task4 .worm {
  margin-top: 55px;
  height: 50px;
}
.task4 .worm2 {
  margin-top: 55px;
  height: 50px;
  animation: 1.1s infinite shake;
}

.task4 .html_str2,
.task4 .html_str3,
.task4 .html_str5,
.task4 .html_str6 {
  padding-left: 15px;
}
.task4 .html_str4 {
  padding-left: 35px;
}
.task4 .level-4 {
  color:aliceblue
}
.help4 {
  color: rgb(37, 30, 30);
  font-size: 1em;
}
.help4.active {
  color:rgb(203, 238, 5);
}
.task4 .fly-answer {
  white-space: nowrap;
  overflow: hidden;
  animation: appearance 3s ;
}
.task4 .shake {
  animation: 1.2s shake-table infinite;
}
#mark-four.done,
.task4 .done {
  color: green;
}
.task4 .position-relative.fly-img {
  white-space: nowrap;
  overflow: hidden;
  animation: fly 1s infinite;
}
