.task3 .fly-agaric {
  border-radius: 40%;
  height: 100px;
  margin-top: 20px;
  animation: 1.1s infinite shake;
}

.task3 .plate,
.task3 .mushroom {
  padding-top: 10px;
  height: 130px;

}
.task3 .shake {
  animation: 1.2s shake-table infinite;
}

.task3 .highlight1 {
  color: aliceblue;
}
#mark-three.done,
.task3 .done {
  color: green;
}
.task3 .shadow {
  box-shadow: 4px 4px 4px 4px rgba(34, 60, 80, 0.2);
}

.task3 .level-3 {
  color:aliceblue
}
.help3 {
  color: rgb(37, 30, 30);
  font-size: 1em;
}
.help3.active {
  color:rgb(203, 238, 5);
}
.task3 .fly-answer {
  white-space: nowrap;
  overflow: hidden;
  animation: appearance 3s;
}
.task3 .position-relative.fly-img {
  white-space: nowrap;
  overflow: hidden;
  animation: fly 1s infinite;
}

