.task5 .plate,
.task5 .plate-fancy {
    width: 100px;
}
.task5 .level-5 {
  color:aliceblue
}
.help5 {
    color: rgb(37, 30, 30);
    font-size: 1em;
  }
  .help5.active {
    color:rgb(203, 238, 5);
  }
