.task6 .fly-agaric,
.task6 .mushroom,
.task6 .strawberry,
.task6 .worm-big {
  width: 90px;
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
.task6 .worm-small {
  width: 50px;
  top: 50px;
}
.task6 .highlight1 {
  color: aliceblue;
}
.task6 .level-6 {
  color: aliceblue;
}
.task6 .shadow {
  box-shadow: 4px 4px 4px 4px rgba(34, 60, 80, 0.2);
}
.help6 {
  color: rgb(37, 30, 30);
  font-size: 1em;
}
.help6.active {
  color: rgb(203, 238, 5);
}
#mark-six.done,
.task6 .done {
  color: green;
}
.position-absolute {
  top: 30px;
  left: 30px;
}
.position-absolute .worm {
  width: 50px;
  top: 50px;
  animation: 1.1s infinite shake;
}

.task6 .position-relative.fly-img {
  white-space: nowrap;
  overflow: hidden;
  animation: fly 1s infinite;
}
.task6 .shake {
  animation: 1.2s shake-table infinite;
}
.task6 .fly-answer {
  white-space: nowrap;
  overflow: hidden;
  animation: appearance 3s;
}
