.task3 .plate-fancy {
  border-radius: 40%;
  height: 100px;
  margin-top: 20px;
  animation: 1.1s infinite opas;
}
@keyframes opas {
  20% {
     opacity: 1;
    }
  80% {
     opacity: 0.3;
     }
  100% {
     opacity: 1;
    }
}
.task3 .plate,
.task3 .mushroom {
  padding-top: 10px;
  height: 130px;

}
.task3 .shake {
  animation: 1.2s shake infinite;
}
.task3 .html_str4 {
  padding-left: 20px;
}
.task3 .highlight1 {
  color: aliceblue;
}
.task3 .shadow {
  box-shadow: 4px 4px 4px 4px rgba(34, 60, 80, 0.2);
}

@keyframes shake {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-5deg);
  }
  20%,
  40% {
    transform: rotate(5deg);
  }
}
.task3 .level-3 {
  color:aliceblue
}
.help3 {
  color: rgb(37, 30, 30);
  font-size: 1em;
}
.help3.active {
  color:rgb(203, 238, 5);
}
