.task3 .plate-fancy {
  border-radius: 40%;
  margin-bottom: 50px;
  animation: 0.5s infinite alternate slidein;
}
@keyframes slidein {
  from {
    width: 120px;
  }
  to {
    width: 130px;
  }
}
.task3 .plate,
.task3 .mushroom {
  padding-top: 10px;
  height: 130px;
  margin-left: 15px;
}
.task3 .shake {
  animation: 1.2s shake infinite;
}
.task3 .html_str4 {
  padding-left: 20px;
}
.task3 .highlight1 {
  color: aliceblue;
}
.task3 .shadow {
  box-shadow: 4px 4px 4px 4px rgba(34, 60, 80, 0.2);
}

@keyframes shake {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-5deg);
  }
  20%,
  40% {
    transform: rotate(5deg);
  }
}
