.task1 .strawberry1,
.task1 .strawberry2 {
  margin-top: 8px;
  border-radius: 40%;
  height: 120px;
  cursor: pointer;
  animation: 1.1s infinite shake;
}
.task1 .html-str4 {
  padding-left: 20px;
}
.task1 .highlight1 {
  color: aliceblue;
}
.task1 .shadow {
  box-shadow: 4px 4px 4px 4px rgba(34, 60, 80, 0.2);
}
#mark-one .done,
.task1 .done {
  color: green;
}
.task1 .fly-answer {
  white-space: nowrap;
  overflow: hidden;
  animation: appearance 3s ;
}

.task1 .shake {
  animation: 1.2s shake-table infinite;
}

.task1 .level-1 {
  color:aliceblue
}
.help1 {
  color: rgb(37, 30, 30);
  font-size: 1em;
}
.help1.active {
  color:rgb(203, 238, 5);
}
.task1 .position-relative.fly-img {
  white-space: nowrap;
  overflow: hidden;
  animation: fly 1s infinite;
}