.task5 .fly-agaric,
.task5 .mushroom {
    width: 90px;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
}
.task5 .beetle-eat {
  width: 60px;
  padding-top: 40px;
}
.task5 .highlight1 {
  color: aliceblue;
}
.task5 .level-5 {
  color:aliceblue;
}
.task5 .shadow {
  box-shadow: 4px 4px 4px 4px rgba(34, 60, 80, 0.2);
}
.help5 {
    color: rgb(37, 30, 30);
    font-size: 1em;
  }
  .help5.active {
    color:rgb(203, 238, 5);
  }
  #mark-five.done,
.task5 .done {
  color: green;
}
.position-absolute {
  top: 30px;
  left: 30px;

}
.position-absolute .worm {
  width: 50px;
  top:50px;
  animation: 1.1s infinite shake;
}

.task5 .position-relative.fly-img {
  white-space: nowrap;
  overflow: hidden;
  animation: fly 1s infinite;
}
.task5 .shake {
  animation: 1.2s shake-table infinite;
}
.task5 .fly-answer {
  white-space: nowrap;
  overflow: hidden;
  animation: appearance 3s ;
}

