.task2 .mushroom1,
.task2 .mushroom2 {
  border-radius: 40%;
  margin-top: 10px;
  height: 120px;
  animation: 1.1s infinite shake;
}
.task2 .plate {
  border-radius: 40%;
  height: 150px;
}
.task2 .highlight1 {
  color: aliceblue;
}
.task2 .shadow {
  box-shadow: 4px 4px 4px 4px rgba(34, 60, 80, 0.2);
}
#mark-two.done,
.task2 .done {
  color: green;
}
.task2 .shake {
  animation: 1.2s shake-table infinite;
}

.task2 .fly-answer {
  white-space: nowrap;
  overflow: hidden;
  animation: appearance 3s;
}

.task2 .level-2 {
  color:aliceblue
}
.help2 {
  color: rgb(37, 30, 30);
  font-size: 1em;
}
.help2.active {
  color:rgb(203, 238, 5);
}
.task2 .position-relative.fly-img {
  white-space: nowrap;
  overflow: hidden;
  animation: fly 1s infinite;
}


