body {
    background-color: rgb(39, 39, 38);
}
.body-wrapper {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}
.header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.button-garage {
    margin-right: 10px;
    border-radius: 4px;
    background-color: rgb(132, 128, 128);
    color: rgb(0, 0, 0);
    border: none;
    font-weight: 600;
}
.button-winner {
    margin-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    background-color: rgb(132, 128, 128);
    color: rgb(0, 0, 0);
    border: none;
    font-weight: 600;
}
.button-garage:hover,
.button-winner:hover {
    background-color: beige;
    cursor: pointer;
}
.button-garage.active,
.button-garage.active:hover,
.button-winner.active,
.button-winner.active:hover {
    background-color: rgb(77, 42, 42);
}
.section-create-car {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.creating-car-form {
    display: flex;
    align-items: center;
}
.field-update-car {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}
.field-input-creat-car,
.field-input-update-car {
    height: 21px;
    margin-right: 10px;
}
.add-car-color[type='color' i]::-webkit-color-swatch-wrapper,
.update-car-color[type='color' i]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 7px;
}
.button-create-car,
.button-update-car {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
}
.btn-race,
.btn-reset,
.btn-generate-cars {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
}
.btn-reset {
    margin-left: 10px;
    margin-right: 10px;
}
.wrapper-page-name {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: rgb(205, 212, 219);
    padding-top: 15px;
}

.page-name {
    padding-right: 20px;
    display: block;
}
.page-number {
    padding-left: 20px;
    display: block;
}
.page-name.active,
.page-number.active {
    display: none;
}
.page-number-winner,
.page-name-winner {
    display: none;
}
.page-name-winner.active {
    display: block;
    padding-right: 20px;
}
.page-number-winner.active {
    display: block;
    padding-left: 20px;
}
.btn-race:hover,
.btn-reset:hover,
.btn-generate-cars:hover,
.button-create-car:hover,
.button-update-car:hover,
.btn-select:hover,
.btn-remove:hover {
    background-color: rgb(187, 186, 176);
    cursor: pointer;
}
.section-road {
    display: block;
}
.section-road.active {
    display: none;
}
.section-winner {
    display: none;
}
.section-winner.active {
    display: block;
    color: antiquewhite;
    margin: 0 auto;
    padding-top: 20px;
}
.wrapper-car {
    padding-left: 2%;
    padding-top: 1.3%;
    border-bottom: 1px dashed white;
}
.wrapper-car-button {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
}
.btn-remove {
    margin-left: 10px;
    margin-right: 15px;
}
.btn-remove,
.btn-select {
    font-weight: 600;
    border: none;
    border-radius: 3px;
}
.car-name {
    color: rgb(203, 244, 244);
    padding-left: 15px;
}
.btn-return-car {
    margin-left: 5px;
}
.btn-start-car,
.btn-return-car {
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: rgb(102, 162, 170);
}
.btn-start-car:hover,
.btn-return-car:hover {
    background-color: rgb(110, 98, 98);
    cursor: pointer;
}
.wrapper-btn-car-flag {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.wrapper-prev-next {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.wrapper-road-car {
    display: flex;
    justify-content: space-between;
}
.wrap-btn-start-return {
    display: flex;
    align-items: flex-start;
}

.btn-prev {
    margin-right: 15px;
}
.btn-next {
    margin-left: 15px;
}
.btn-prev,
.btn-next {
    border: none;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 600;
    background-color: rgb(132, 128, 128);
    color: rgb(0, 0, 0);
}
.btn-prev:hover,
.btn-next:hover {
    cursor: pointer;
    background-color: beige;
}
.car {
    height: 60px;
    width: 140px;
}
.flag {
    height: 55px;
    width: 60px;
    margin-right: 120px;
}
.wrapper-svg-car {
    position: relative;
}
.car-table {
    width: 100px;
    height: 50px;
}
.td {
    padding-right: 15px;
}

@media (max-width: 920px) {
    .section-create-car {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .creating-car-form {
        padding-left: 30px;
    }
    .field-update-car {
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btns-race-reset-generate {
        padding-left: 70px;
    }
}
