html,
body {
  height: 100vh;
}
.body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
}
.left-fild {
  padding-top: 10px;
  padding-left: 30px;
}
.logo-img {
  width: 20px;
}
.name-logo {
  font-size: 1rem;
  color: rgb(121, 122, 124);
}
.share-text {
  font-size: 1rem;
  color: rgb(121, 122, 124);
  padding-right: 5px;
}
.link-socNetwork {
  color: rgb(121, 122, 124);
  margin-right: 5px;
}
.task-name {
  font-size: 2em;
  color: rgb(121, 122, 124);
  text-align: center;
  margin: 0;
}
.button-help {
  display: flex;
  margin: 0 auto;
  border-radius: 30px;
  border: 0;
  background-color: rgb(37, 30, 30);
  color: rgb(121, 122, 124);
  padding: 2px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.table-img-wrapper {
  display: flex;
  justify-content: center;
}
.img-table {
  display: flex;
  justify-content: center;
  background-image: url("../assets/table.svg");
  background-size: contain;
  width: 430px;
  height: 180px;
}

.field-for-input {
  background-color: rgb(42, 35, 35);
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 5%;
}
.table-wrapper {
  display: grid;
  grid-template-columns: 3em 1fr 3em 1fr;
  grid-auto-rows: auto;
  color: rgb(121, 122, 124);
  font-size: 16px;
  padding: 10px;
}
.hat-table {
  grid-column-start: 1;
  grid-column-end: 5;
  border: solid 0.5px rgb(121, 122, 124);
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
}
.hat-table-left,
.hat-table-right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.count-str {
  font-size: 0.95em;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  background-color: rgb(197, 197, 197);
}
.user-input {
  font-size: 0.95em;
  display: flex;
  justify-content: space-between;
  background-color: rgb(236, 236, 236);
  padding: 10px;
  padding-top: 4px;
}
.input-field {
  width: 100%;
}
#input-answer {
  border: 0;
  background-color: rgb(236, 236, 236);
  width: 100%;
}

.button-enter {
  display: flex;
  align-items: flex-start;
  border: 0;
  background-color: rgb(236, 236, 236);
}
.img-enter {
  color: rgb(88, 87, 87);
}
.img-enter:hover {
  color: gray;
  cursor: pointer;
}
.img-enter:active {
  color: rgb(110, 109, 109);
}
.count-str-two {
  font-size: 0.95em;
  border: solid 1px rgb(121, 122, 124);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
}
.html-code {
  font-size: 0.95em;
  padding: 10px;
  padding-top: 4px;
  border: solid 0.5px rgb(121, 122, 124);
}
.html_str2,
.html_str3 {
  padding-left: 20px;
}
.right-section {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
  border-left: solid 1px rgb(63, 61, 61);
}
.header-right {
  display: flex;
  justify-content: space-between;
}
.level {
  color: rgb(121, 122, 124);
  font-size: 1.5rem;
}
.check-mark {
  color: rgb(121, 122, 124);
}
.check-mark {
  width: 25px;
  color: rgb(121, 122, 124);
}
.buttons-right-section {
  display: flex;
  justify-content: center;
}
.left-button,
.right-button {
  cursor: pointer;
  border: 0;
  background-color: rgb(37, 30, 30);
}

.img-button,
.img-button {
  width: 25px;
  color: rgb(121, 122, 124);
}

.img-button:hover,
.img-button:hover {
  color: rgb(161, 162, 163);
}
.mark-main {
  padding-top: 15px;
  margin: 0;
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}
.mark-main span {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 25px;
  height: 2px;
  transform: translate(-50%, -50%);
  background-color: rgb(121, 122, 124);
  transition: all 0.5s;
}
.mark-main span:nth-of-type(2) {
  top: calc(65% - 8px);
}
.mark-main span:nth-of-type(3) {
  top: calc(65% + 8px);
}
.mark-main.active span:nth-of-type(1) {
  display: none;
}
.mark-main.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.mark-main.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
#progress {
  width: 100%;
  height: 1em;
}
.topic-task {
  color: rgb(146, 147, 148);
  font-weight: 700;
}
.task {
  padding-top: 15px;
  color: rgb(121, 122, 124);
}
.symbol-task {
  color: rgb(121, 122, 124);
  padding-top: 15px;
}
.description-task {
  padding-top: 15px;
  color: rgb(121, 122, 124);
  margin-bottom: 30px;
  line-height: 2;
}
.example-word {
  color: rgb(121, 122, 124);
  font-weight: 700;
}
.example-first,
.example-second {
  padding-top: 15px;
  color: rgb(121, 122, 124);
}
mark {
  background-color: rgb(58, 58, 58);
  color: rgb(180, 181, 181);
}
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  background-color: #363131;
  border-top: solid 1px rgb(63, 61, 61);
}
.logoRS {
  width: 70px;
}
.year-of-creation {
  font-size: 1.2em;
  font-weight: 700;
  padding: 1px 40px 1px 40px;
  color: rgb(3, 3, 3);
}
.icon-github {
  width: 70px;
}
.side-box {
  position: fixed;
  top: 0;
  left: 75%;
  width: 25%;
  height: 100%;
  background: #292929;
  transform: translateX(200%);
  transition: transform 0.7s;
}

.side-box.active {
  transform: translateX(0);
}
.choose-level {
  color: rgb(121, 122, 124);
  padding-left: 10px;
  padding-top: 10px;
  font-size: 2em;
}
.side-box-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding-top: 40px;
  padding-left: 20px;
}
.side-box-list li {
  padding-top: 10px;
}
.task-of-menu {
  text-decoration: none;
  cursor: pointer;
  color: rgb(121, 122, 124);
}
.task-of-menu:hover {
  color: rgb(172, 174, 176);
}
.check-mark {
  color: rgb(121, 122, 124);
  width: 20px;
}

.btn-reset-progress {
  font-size: 1.2em;
  font-weight: 600;
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(37, 30, 30);
  color: rgb(121, 122, 124);
  border-color: rgb(96, 97, 98);
  margin: 150px 1px 10px 10px;
  border-radius: 5px;
}
.btn-reset-progress:hover {
  background-color: rgb(53, 44, 44);
}
.popup {
  position: absolute;
  background-color: bisque;
  width: auto;
  padding: 10px;
}

@media (max-width: 800px) {
  .left-fild {
    padding-left: 5px;
  }
  .field-for-input {
    margin-right: 5%;
    margin-left: 5%;
  }
  .count-str,
  .count-str-two {
    padding-top: 3px;
    font-size: 0.9em;
  }
  .text-in-field,
  #input-answer,
  .html-code {
    font-size: 0.9em;
  }

  .button-enter {
    width: 40px;
  }
  /* .header-right {
    display: flex;
    flex-direction: column;
  } */
  .inscrip-level {
    font-size: 0.8em;
  }
  .check-mark {
    width: 20px;
  }
}
@import "./css/task-two.scss";
@import "./css/task-one.scss";
@import "./css/task-three.scss";
